[camera]
#width = 640
#height = 480
#horizontal-fov = 70.42
#vertical-fov = 43.3
#matrix = 
#distortion = 

[algorithm]
#eccentricity = 0.6
#distance_threshold = 15
#min_circles = 5
#radius_tolerance = 2
#ratio_tolerance = 0.015
#target_code = 0.8 0.91 0.76 0.84 0.7 0.66 0.49
#outer_ring = 0.08255


[processing]
#desired_cores = 4
#background_capture = True


[logging]
#print_level = debug, general
#log_level = aircraft, algorithm, general
#display_level = raw, gui
#record_level = raw


[gui]
#show_target = False
#show_mode = False
#show_vel_vector = False
#show_artifical_horizon = False
#show_distance = False
#show_fps = False
#show_location = False



[general]
#simulate = False
#SEARCH_YAW_SPEED = 5.0
#SEARCH_TARGET_DELAY = 2.0
#VEL_XY_P = 1.0
#VEL_XY_I = 0.0
#VEL_XY_D = 0.0
#VEL_XY_IMAX = 10.0
#VEL_Z_P = 2.5
#VEL_Z_I = 0.0
#VEL_Z_D = 0.0
#VEL_Z_IMAX = 10.0
#VEL_SPEED_MIN = 1.0
#VEL_SPEED_MAX = 4.0
#VEL_ACCEL = 0.5
#VEL_DIST_RATIO = 0.5
#VEL_PITCH_TARGET = -5.0
#VEL_UPDATE_RATE_SEC = 0.2